<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.open.zcool"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <application
        android:name="com.open.zcool.application.ZCoolApplication"
       android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        
        <!-- webview -->
        <activity
            android:name="com.open.zcool.activity.ZcoolWebViewActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/zcool_webview_desp" >
        </activity>
        <!-- 站酷精选图片viewpager -->
        <activity
            android:name="com.open.zcool.activity.IndexFocusFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/index_focus_f_desp" >
        </activity>
        <!-- 列表main list -->
        <activity
            android:name="com.open.zcool.activity.IndexMainPullListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/index_main_list_f_desp" >
        </activity>
        <!-- 推荐/活跃 设计师 -->
        <activity
            android:name="com.open.zcool.activity.DesignerListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/designer_list_f_desp" >
        </activity>
        <!-- Indicator设计师 -->
        <activity
            android:name="com.open.zcool.activity.DesignerIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/designer_indicator_f_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"  >
        </activity>
         <!-- 推荐职位  找设计师，用站酷 -->
        <activity
            android:name="com.open.zcool.activity.RecommendJobListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/recommend_job_f_desp"
            >
        </activity>
         <!-- 推荐 最新 Indicator -->
        <activity
            android:name="com.open.zcool.activity.RecommendJobIndicatorListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/recommend_job_indicator_f_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"
            >
        </activity>
        <!--热门搜索-->
        <activity
            android:name="com.open.zcool.activity.SearchHotFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/search_hot_f_desp"
            >
        </activity>
        <!--搜索keys结果-->
        <activity
            android:name="com.open.zcool.activity.SearchPostFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/search_post_f_desp"
            >
        </activity>
        <!--sort列表-->
        <activity
            android:name="com.open.zcool.activity.SortCityListActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/sort_city_desp"
            >
        </activity>
        <!-- sort Indicator -->
        <activity
            android:name="com.open.zcool.activity.SortCityIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/sort_city_indicator_f_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"
            >
        </activity>
         <!-- 搜索 Indicator -->
        <activity
            android:name="com.open.zcool.activity.SearchPostIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/search_indicator_f_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"
            >
        </activity>
         <!--企业头部 优质企业推荐-->
        <activity
            android:name="com.open.zcool.activity.EnterpriseHeadViewPagerFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enterprise_head_viewpager_f_desp"
            >
        </activity>
         <!--常驻企业-->
        <activity
            android:name="com.open.zcool.activity.ResidentEnterpriseListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/resident_enterprise_list_f_desp"
            >
        </activity>
        <!--企业主列表-->
        <activity
            android:name="com.open.zcool.activity.EnterpriseMainListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/enterprise_main_list_f_desp"
            >
        </activity>
         <!--作品主列表-->
        <activity
            android:name="com.open.zcool.activity.WorksMainListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/zcool_wokrs_list_f_desp"
            >
        </activity>
        <!--作品底部推荐信息-->
        <activity
            android:name="com.open.zcool.activity.WorksFootExpendListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/zcool_wokrs_foot_expend_list_f_desp"
            >
        </activity>
        <!--作品头部搜索条件-->
        <activity
            android:name="com.open.zcool.activity.WorksSearchHeadDropFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/zcool_wokrs_search_head_drop_f_desp"
            >
        </activity>
         <!-- 搜索-->
        <activity
            android:name="com.open.zcool.activity.ToSearchFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/to_search_f_desp"
            >
        </activity>
        <!--搜索主列表-->
        <activity
            android:name="com.open.zcool.activity.ToSearchMainPullListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/to_search_main_f_desp"
            >
        </activity>
        <!--pc分页数据wheel-->
        <activity
            android:name="com.open.zcool.activity.PageSpinnerListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/page_spinner_list_f_desp"
            >
        </activity>
         <!-- 网站搜索  Indicator-->
        <activity
            android:name="com.open.zcool.activity.ToSearchMainIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/to_search_main_indicator_f_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"  >
        </activity>
         <!-- 文章主列表-->
        <activity
            android:name="com.open.zcool.activity.ArticlesMainPullListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/zcool_articles_main_list_f_desp"
            >
        </activity>
         <!-- 文章 Indicator-->
        <activity
            android:name="com.open.zcool.activity.ArticlesMainIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/articles_main_indicator_f_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"  >
        </activity>
         <!--本周热门文章-->
        <activity
            android:name="com.open.zcool.activity.RightHotArticlesListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/right_hot_articles_list_f_desp"
            >
        </activity>
        <!--本月热门作者-->
        <activity
            android:name="com.open.zcool.activity.MonthHotAuthorsListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/month_hot_authors_list_f_desp"
            >
        </activity>
        <!--pc 工具搜素材-->
        <activity
            android:name="com.open.zcool.activity.ToolsSearchSuCaiListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/tools_search_sucai_list_f_desp"
            >
        </activity>
        <!--pc 昨日收藏排行版-->
        <activity
            android:name="com.open.zcool.activity.ToolsYesterdayCollectionGridAppCompatActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/AppCompat"
            android:description="@string/tools_yesterday_collection_grid_list_f_desp"
            >
        </activity>
         <!-- 赛事列表-->
        <activity
            android:name="com.open.zcool.activity.EventMainPullListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/event_main_list_f_desp"
            >
        </activity>
        <!-- 赛事 Indicator-->
       <activity
            android:name="com.open.zcool.activity.EventMainIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/event_main_indicator_f_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"  >
        </activity> 
        <!-- 活动列表-->
        <activity
            android:name="com.open.zcool.activity.ActivitiesMainPullListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/activities_main_list_f_desp"
            >
        </activity>
        <!-- 酷友/设计师列表-->
        <activity
            android:name="com.open.zcool.activity.ToDesignersMainPullListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/todesigners_main_list_f_desp"
            >
        </activity>
        <!-- 酷友/设计师 Indicator-->
       <activity
            android:name="com.open.zcool.activity.ToDesignersMainIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/todesigners_main_indicator_f_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"  >
        </activity> 
        <!-- 酷友精彩评论列表-->
        <activity
            android:name="com.open.zcool.activity.NewestCommentMainPullListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/newest_comment_main_list_f_desp"
            >
        </activity>
        <!-- 酷友精彩评论 Indicator-->
       <activity
            android:name="com.open.zcool.activity.NewestCommentMainIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/newest_comment_main_indicator_f_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"  >
        </activity> 
        <!-- 专题 列表-->
        <activity
            android:name="com.open.zcool.activity.SpecialMainPullListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/special_list_f_desp"
            >
        </activity>
          <!-- 专题  Indicator-->
       <activity
            android:name="com.open.zcool.activity.SpecialMainIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/special_main_indicator_f_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"  >
        </activity> 
        <!-- 海洛搜索-->
        <activity
            android:name="com.open.zcool.activity.HellorfSearchFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/hellorf_search_f_desp"
            >
        </activity>
        <!-- 海洛grid列表-->
        <activity
            android:name="com.open.zcool.activity.HellorfSearchGridFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/hellorf_search_grid_f_desp"
            >
        </activity>
         <!-- 海洛创意Indicator-->
       <activity
            android:name="com.open.zcool.activity.HellorfIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/hellorf_indicator_f_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"  >
        </activity> 
        <!-- 海洛旅游专题-->
        <activity
            android:name="com.open.zcool.activity.HellorfTravelCityFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/hellorf_travel_f_desp"
            >
        </activity>
        <!-- 海洛旅游城市-->
        <activity
            android:name="com.open.zcool.activity.HellorfTravelCitySectionListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/hellorf_travel_city_list_f_desp"
            >
        </activity>
         <!-- 所有类列表 -->
        <activity
            android:name="com.open.zcool.activity.ZcoolALLActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/zcool_all_desp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
